<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
        /* border: solid blue; */
        }
      .redbg {
        background-color: red;
      }
      .greenbg {
        background-color: green;
      }
      .bluebg {
        background-color: blue;
      }
      .greybg {
        background-color: grey;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="row greybg">
      <div class="col-2 redbg">Col Red </div>
      <div class="col-3 offset-1 greenbg">Col Green </div>
      <div class="col-10 bluebg">Col Blue </div>
    </div>
    
    <button class="btn btn-primary">login</button>

    <!-- <button class="btn btn-primary">login</button>
    <button class="btn btn-secundary">logout</button>
    <button class="btn btn-sucess">login</button>
    <button class="btn btn-info">logout</button>
    <button class="btn btn-danger">login</button>
    <button class="btn btn-warning">logout</button>
    <button class="btn btn-light">login</button>
    <button class="btn btn-dark">logout</button> -->


    <!-- <h2>soy [[first_name]] [[last_name]]</h2>
    <h2>Hello [[prop1]]!</h2>
    <h3>tengo [[age]] añazos</h3>
    <input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" value="{{age::input}}" max ="99" /> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class frontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'cebolla'
          },
          first_name :{
            type: String,
            value: 'Peter'
          },
          last_name :{
            type: String,
            value: 'Parker'
          },
          age :{
            type: Number,
            value: 69
          }
        };
      }
    }

    window.customElements.define(frontproyectoApp.is, frontproyectoApp);
  </script>
</dom-module>
