<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../account-usuario/account-usuario.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">

<dom-module id="test-iron-pages">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <h1 class="jumbotron">Test Iron PAges</h1>
    <select value="{{componentName::change}}">
      <option value="Seleccionar un componente"></option>
      <option value="login-usuario">Login Usuario</option>
      <option value="account-usuario">Cuentas del Usuario</option>
      <option value="visor-usuario">Visor del Usuario</option>
    </select>
    <iron-pages selected="{{componentName}}" attr-for-selected="commponent-name">
      <div commponent-name="login-usuario"><login-usuario></login-usuario></div>
      <div commponent-name="account-usuario"><account-usuario userId=10></account-usuario></div>
      <div commponent-name="visor-usuario"><visor-usuario userId=10></visor-usuario></div>
    </iron-pages>

  </template>

  <script>

    class TestIronPages extends Polymer.Element {
      static get is() { return 'test-iron-pages'; }
      static get properties() {
        return {
          componentName :{
            type: String
          }
        };
      }
    }

    window.customElements.define(TestIronPages.is, TestIronPages);
  </script>
</dom-module>
