<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        border: solid green;
      }
    </style>

    <h2>soy [[first_name]] [[last_name]]</h2>
    <h3>y mi email es  [[email]]</h3>
    <!--<input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" value="{{age::input}}" max ="99" />-->
    <input placeholder="email" type="email" value="{{email::input}}"/>
    <input placeholder="password" type="password" value="{{password::input}}"/>
    <button on-click="login">Login</button>
    <span hidden$="{{!isLogged}}">Bienvenido de nuevo!!!</span>

    <!-- auto esto hace que salga automatico, ahora queremos hacerlo explicito -->
    <!-- url="http://192.168.99.101:3000/apitechu/v2/users/{{id}}" -->
    <iron-ajax
      id="doLogin"
      url="http://192.168.99.101:3000/apitechu/v2/login/"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
      >
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          // first_name :{
          //   type: String
          // },
          // last_name :{
          //   type: String
          // },
          // id :{
          //   type: Number
          // },
          email :{
            type: String,
          },
          password :{
            type: String,
          },
          isLogged :{
            values: false,
            type: Boolean
          }
        };
      }
      // showData (data){
      //   console.log("showData");
      //   console.log(data.detail);
      //   console.log(data.detail.response);
      //
      //   this.first_name = data.detail.response.first_name;
      //   this.last_name  = data.detail.response.last_name;
      //   this.email = data.detail.response.email;
      //   this.id = data.detail.response.id;
      //
      //
      // }
      login (){
        console.log("El usuario ha pulsado el botón");
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada")

      }
      manageAJAXResponse(data){
        console.log("llegaron los resultados de la API correctos");
        console.log(data.detail.response);

        this.isLogged = true;
        window.location = "user/" + data.detail.response.idUsuario;
        
        window.location = "account/" + data.detail.response.idUsuario;
      }

      showError(error){
        console.log("Ha habido un error");
        // Mete la gestion de los errores que yo genero
        console.log(error.detail.request.__data.response);
        this.isLogged = false;
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
