<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h3>Soy el receptor</h3>
    <h3>Este el curso [[course]]</h3>
    <h3>del año [[year]]</h3>
    <input type="test" value="{{course::input}}"></input>

  </template>

  <script>

    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course : {
            type: String,
            observer: '_coursechanged'
          },
          year : {
            type: String
          }
        };

        }
      _coursechanged( newValue, oldValue) {
          console.log("El valor de course ha cambiado");
          console.log("Valor nuevo:"+newValue);
          console.log("Valor antiguo:"+oldValue);
      }
    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
