<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
        border: solid green;
      }
    </style>

    <h2>soy [[first_name]] [[last_name]]</h2>
    <h3>y mi email es  [[email]]</h3>
    <!--<input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" value="{{age::input}}" max ="99" />-->

    <iron-ajax
      id="getUser"
      auto
      url="http://192.168.99.101:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name :{
            type: String
          },
          last_name :{
            type: String
          },
          id :{
            type: Number
          },
          email :{
            type: String,
          }
        };
      }
      showData (data){
        console.log("showData");
        console.log(data.detail);
        console.log(data.detail.response);

        this.first_name = data.detail.response.first_name;
        this.last_name  = data.detail.response.last_name;
        this.email = data.detail.response.email;
        this.id = data.detail.response.id;


      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
