<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">



<dom-module id="account-usuario">
  <template>
    <style>
      :host {
        display: block;
        border: solid green;
      }
    </style>
    <template is="dom-repeat" items="[[accounts]]">
        <h2>Cuenta [[item.IBAN]]</h2>
        <h3>Dinerete :[[item.balance]]</h3>
    </template>
    <!--<input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" value="{{age::input}}" max ="99" />-->

    <iron-ajax
      id="getUser"
      auto
      url="http://192.168.99.101:3000/apitechu/v1/account/{{userId}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AccountUsuario extends Polymer.Element {
      static get is() { return 'account-usuario'; }
      static get properties() {
        return {
          UserId :{
            type: Number
          },
          accountId :{
            type: Number,
          },
          accounts :{
            type: Array,
            items :{
              type: Object,
              properties: {
                  IBAN :{
                    type: String
                  },
                  balance :{
                    type: String
                  }
              }
            }
          }
        };
      }
      showData (data){
        console.log("showData");
        console.log(data.detail);
        console.log(data.detail.response);
        this.accounts = data.detail.response;
        //this.IBAN = data.detail.response.IBAN;
        //this.balance  = data.detail.response.balance;
        //this.userId = data.detail.response.userId;
        //this.accountId = data.detail.response.accountId;
      }

    }

    window.customElements.define(AccountUsuario.is, AccountUsuario);
  </script>
</dom-module>
